footer.text-muted
  .container
    p.float-right
      a(href='#') Back to top
    p Album example is © Bootstrap, but please download and customize it for yourself!
    p
      | New to Bootstrap? 
      a(href='../../') Visit the homepage
      |  or read our 
      a(href='../../getting-started/') getting started guide
      | .
