header
  #navbarHeader.collapse.bg-dark
    .container
      .row
        .col-sm-8.col-md-7.py-4
          h4.text-white Blog
          p.text-muted
            | Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.
        .col-sm-4.offset-md-1.py-4
          h4.text-white Contact
          ul.list-unstyled
            li
              a.text-white(href='#') Follow on Twitter
            li
              a.text-white(href='#') Like on Facebook
            li
              a.text-white(href='#') Email me
  .navbar.navbar-dark.bg-dark.box-shadow
    .container.d-flex.justify-content-between
      a.navbar-brand.d-flex.align-items-center(href='#')
        a(href="/articles/liste") Blog
          strong 
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarHeader', aria-controls='navbarHeader', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
